npx create-react-app client
npm install axios
npm install axios react-router-dom
npm install framer-motion


-tailwindcss-
npm install -D tailwindcss@3 postcss autoprefixer
npx tailwindcss init -p


backend
node server.js
nodemon server.js

https://nodejs.org/en/download